.healthbehavior__terms {
  margin-bottom: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
}

.healthbehavior__heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 800;
}
