.hero {
  background-image: url(../images/the-great.JPG);
  background-color: $color-8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10%;
  position: relative;
  min-height: 400px;
}

.hero__container {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.hero__nav {
  display: none;
}

.hero__items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.hero__item {
  margin-bottom: 10px;

  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.hero__heading {
  text-align: center;
}

.hero__photo {
  border-radius: 5%;
}

.hero__flex {
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  padding-right: 10px;
}
.healthbehavior__button,
.hero__button {
  font-weight: 500;
  min-width: 200px;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgb(21, 4, 61);
  text-align: center;
  border: 1px solid $main-text-cl;
  color: cornsilk;
  padding: 10px;
  cursor: pointer;
}

.hero__nav.isActive {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  padding: 5px 10px;
  font-size: 17px;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 300px;
  box-shadow: $hero-shadow;
  transform: translate(-50%, -50%) scale(1);
  transition: scale $standard-animation;
  border-radius: 5px;
  background-color: $hero-nav;

  @media screen and (min-width: 1200px) {
    font-size: 20px;

    width: 60vw;
  }
}
