$main-text-cl: #060846;
$compl-cl: #e6511c;
$color-1: #f0fb6a;
$color-2: #f2fb7d;
$color-3: #f4fc8f;
$color-4: #f6fca2;
$color-5: #f7fdb4;
$color-6: #f9fdc7;
$color-7: #fbfeda;
$color-8: #fdfeec;
$standard-animation: 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
$hero-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
